@media screen {min-width: 300px;} and {max-width: 1024px;}
body {font-family: 'Times New Roman';
    background-image: url(swt.jpg);
    background-repeat: no-repeat;}
.kop {
    margin: auto;
    margin-top: 50px;
    background-color: darkblue;
    border: 5px solid rgb(251, 255, 1);
    background-size: contain;
    height: 120px;
    border-bottom: 7px solid;
    padding: 0%;
    width: 550px;}

.tengah {text-align: center; 
    line-height: 7px;}
h2 {text-align: center;
    color: white;}

.bawah {font-size: 20px;
        text-align: left;
        font-weight: 700;}

.isi {width: 510px; 
    margin: auto; 
    background-image: url(putih.jpg);
    border: 5px solid rgb(251, 255, 1);
    border-top: 0px;
    background-size: contain;
    height: 400px; 
    padding: 10px 20px 0px;
    }

p {text-align: center;
    font-size: 25px;
    font-weight: 900;}

.img_deg {float: inline-end;
        margin-top: 30%;
        mix-blend-mode: multiply;}

.footnote {text-align: center;
            font-size: 16px;
            font-weight: 900;
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(0, 0, 0);
            background-image: url(warning.jpg);
            background-position: center;
            background-size: 80px;
            padding: 10px;
        }
